header{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    width: 126px;
    height: auto;
    border: 0;
    line-height: 0;
    display: flex;
    place-content: center;
    align-items: center;
}

#order{
    
    position: absolute;
    
    color: rgb(255, 255, 255);
    text-align: center;
    text-size-adjust: 100%;
    font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
    font-size: 38.4px;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 1px;
   
    line-height: 38.4px;
    margin-top: 0; 
}

.subtitle{
    color: rgb(255, 255, 255);
    box-align: center;
    display: block;
    font-family: Arial, Verdana, sans-serif;
    font-stretch: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    height: 42px;
    margin-bottom: 32px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 749.92px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    text-size-adjust: 100%;
    width: 626.891px;
    place-content: center;
    align-items: center;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);  
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;    
}

#searchtxt{
    flex-grow: 1;
    color: #b8b8b8;
    display: inline-block;
    font-size: 100%;
    font-family: Roboto,Helvetica,Arial,Verdana,sans-serif;
    font-weight: 700;
    border: 1px solid transparent;
    background-color: rgb(21, 21, 21);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: text;
    display: inline-block;
    flex-grow: 1;
    font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    height: 62.5938px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    padding-bottom: 9.6px;
    padding-left: 14px;
    padding-right: 40px;
    padding-top: 32px;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    vertical-align: baseline;
    visibility: visible;
    width: 660px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}

.plus{
    color: #888;
    display: block;
    font-family: Arial, Verdana, geneva, sans-serif;
    font-size: 12px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: 12px;
    line-height: 12px;
    margin-bottom: 40px;
    margin-top: 200px;
    text-align: center;
    text-size-adjust: 100%;
    visibility: visible;
}

#ordernow{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: flex-start;
    appearance: none;
    background-color: rgb(0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Roboto, Helvetica, Arial, Verdana, geneva, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 700;
    height: 52px;
    letter-spacing: normal;
    line-height: 48px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    opacity: 0.25;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    visibility: visible;
    width: 260px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}

.privacy{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(136, 136, 136);
    display: inline;
    font-family: Arial, Verdana, geneva, sans-serif;
    font-size: 10px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: auto;
    line-height: 13px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0px 1px;
    text-size-adjust: 100%;
    width: auto;
}
